h1{
    color: rgb(243, 88, 17);
   }
   img {
    width: 400px;
   }
   #thirdDiv{
    height: 500px;
    width: 600px;
    background-color:rgb(40, 240, 247) ;
    padding : 50px;
    border : 10px solid rgb(248, 27, 148);
   }

   #spanId{
    margin:50px;
    font-size: 18px;
   }